**/main.yml linguist-language=Ansible linguist-vendored=false
*.gitattributes linguist-language=Git linguist-vendored=false
*.gitignore linguist-language=Git linguist-vendored=false
*.json linguist-language=JSON linguist-vendored=false
*.md linguist-language=Markdown linguist-vendored=false
*.yml linguist-language=YAML linguist-vendored=false
